
body {
    margin: 0;
    padding: 0;
    background-color: #F5EBDC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    background-color: #f5ebdc;
}

.navbar-logo {
    width: 7vh;
}

.banner-imagen{
    width: 100%;
}

.navbar-links {
    display: flex;
    gap: 20px;
    margin-left: auto;
    background-color: #f5ebdc;
}

.zona-arriba{
    text-decoration: none;
    color: black;
    border-radius: 100px;
    padding: 5px;
    cursor: pointer;
}

.zona-arriba:hover{
    background-color: #ecdfd0;
}

.promo-button {
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #D72300;
    color: white;
    font-weight: bold;
}

.banner .celular {
    width: 100%;
    height: 65vh;
    object-fit: cover;
}


.news-section {
    text-align: center;
    padding: 20px;
}

.news-banner {
    width: 80%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.news-title {
    color: #502314;
    margin-bottom: 20px;
}

.news-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.news-item {
    width: 30%;
    border-radius: 10px;
}


.mobile-section .mobile-image {
    width: 100%;
    display: block;
    margin-top: 150px;
}


.footer {
    background-color: #5c2d15;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
    min-width: 200px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid white;
}

.locales{
    background-color: #efe0cc;
    border-radius: 20px;
    margin: 0 auto;
    height: 300px;
    padding-top: 30px;
    display: flex;
    width: 1200px;
}

.local{
    justify-content: start;
}

#locales{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 30px;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(109, 31, 31);
}

.parrafo{
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#direccion{
    border-radius: 10px;
    border-style:groove;
    height: 50px;
    width: 500px;
    margin-left: 50px;
    padding-left: 20px;
    border: rgb(83, 28, 28);
}

.image{
    margin-left: 200px;
}

.niña{
    height: 250px;
}

.footer-section-social img{
    height: 30px;
}

.footer-botton{
    display: flex;
    box-shadow: 0px -1px 0px;
    padding: 20px;
    width: 1200;
    margin: 0 auto;
}

.footer-botton p{
    flex: 1;
    color: white;
}

#cupones {
    margin-left: 140px;
    justify-content: start;
    color:  brown;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.cupones{
    display: flex;
    justify-content: center;
}

.hamburger1{
    border-radius: 20px;
    justify-content: start;
    width: 350px;
    height: 260x;
    margin: 30px;    
    cursor: pointer;

}

.hamburger2{
    border-radius: 20px;
    justify-content: center;
    width: 350px;
    height: 260px;
    margin: 30px;
    cursor: pointer;

}

.hamburger3{
    border-radius: 20px;
    justify-content: end;
    width: 350px;
    height: 260px;
    margin: 30px;
    cursor: pointer;

}


.kingf{
    flex-direction: column;
    width: 300px;
    height: 400px;
    justify-content: end;
    margin: 20px;
}

.kings{
    flex-direction: column;
    width: 300px;
    height: 400px;
    justify-content: end;
    margin: 20px;
}

.plant{
    flex-direction: column;
    width: 300px;
    height: 400px;
    justify-content: end;
    margin: 20px;
}

#kingf{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

#kingf:hover{
    box-shadow: 0px 0px 10px;
}


#kings{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

#kings:hover{
    box-shadow: 0px 0px 10px;
}

#plant{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;  
    transition: box-shadow 0.2s;
}

#plant:hover{
    box-shadow: 0px 0px 10px;
}

.content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(163, 85, 85);
    font-size: 15px;
}

.Fusión{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(128, 29, 29);
}

.Selection{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(128, 29, 29);
}

.Based{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(128, 29, 29);
}

.news-section{
    display: flex;
}

.novedades{
    display: flex;
    margin: 0 auto; 
}